footer{
  
    background-color:#a8dadc;
    // height: 15vh;
    // padding: 20px 0;
  // position: absolute;
  // bottom: 0;
  width: 100%;
}

.nav-item{
  padding-right: 20px;
  
}
.ss{
  text-decoration: none;
  color: black;
}